<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <!-- Link a Bootstrap-->
        <link rel="stylesheet" href="..\static\webmobike\css\bootstrap\bootstrap.css">

        <!-- Link a CSS -->
        <link rel="stylesheet" href="..\static\webmobike\css\style.css">
</head>
<body>
    
    <div class="container-fluid navegacion">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">MoBike<span class="sr-only">(current)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">¿Quienes somos?<span class="sr-only">(current)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mapa' %}">Mapa de estaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="..\static\webmobike\img\login.png" alt="" width="25" lenght="25"></a>
                    </li>
                </ul>
            </div>
        </nav>
      </div>
      {% block content %}



      {% endblock %}
</body>
</html>