{% extends 'base.html'%}

{% block content %}

  <div class="container-fluid background">
    <div>
        <img class="bici" src="..\static\webmobike\img\background.jpg" alt="">
    </div>
    
  </div>

  
</body>
</html>
{% endblock %}